        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <h2>ログイン</h2>
        <!-- ユーザー名、パスワードなどの入力フィールドを追加 -->
        <form action="#" method="post">
            <!-- 例として追加したフィールド（必要に応じてカスタマイズ） -->
            <label for="username">ユーザー名：</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">パスワード：</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">ログイン</button>
            
        </form>
        <a class="btn btn-primary" href="signup.html" target="_blank">登録されていない方はこちらから</a>
            </div>
        </header>